body {
  background-color: #ffffff;
}
header {
  color: #7ab89a;
}

.models {
  display: none;
}

.link {
  color: #188cd5 !important;
  text-decoration: underline !important;
}

.text-multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: 4.2em; /* 3 linhas x line-height */
}
.article-text {
  white-space: pre-line;
}
#carouselExampleCaptions .carousel-item img {
  height: 290px; 
  object-fit: cover;
}

@media (min-width: 768px) {
  #carouselExampleCaptions .carousel-item img {
    height: 400px; 
  }
}

@media (min-width: 1200px) {
  #carouselExampleCaptions .carousel-item img {
    height: 500px; 
  }
}